# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Finder Thumbnails
.DS_Store

# Xcode build folders
DerivedData/
build/

# Xcode source control files
*.xccheckout

# Xcode user data
xcuserdata

# Compiled app
*.app
